body {
    margin:0;
}

div.container-fluid {
    
    display: flex;
    flex-direction: column;
}

div.container-fluid header{
    
    order: 1;
    width:100vw; background-color:rgb(173, 200, 231); padding: 10px; height:120px;
    font-weight: 600; font-size: 200%
}

div.container-fluid div.name {
    background-color:#ddd; padding: 10px; 
    text-align: center; 
}

div.container-fluid img.title1 {
    float: left; width:100px; height:100px;
    }

    div.container-fluid nav {
    order: 2;
    font-size: x-large;
    font-weight: 600;
    width: 100vw; background-color:#d3c3ff; margin: 0 auto; margin-top:20px; padding:10px;
    display: block;
}

div.container-fluid div.links {
    order: 3;
    width: 100vw; margin: 0 auto; padding: 10px; background-color: #d3c3ff;
    margin-top: 15px;
}

div.container-fluid div.table {
    
    order: 5;
    width: 100vw; margin: 0 auto; padding: 10px;
    text-align: center;
    background-color: #d3c3ff;
    margin-top: 15px;
}

div.container-fluid table {
    max-width:800px; margin: 0 auto; 
    order: 5;
    }

    div.container-fluid tr.light {
    background: #cdd8ff;
    }

    div.container-fluidtr.dark {
    background: #83a0fd;
    }

    div.container-fluid form {
    
    order: 4;
    width: 100vw; margin: 0 auto; padding: 10px;
    background-color: #d3c3ff;
    margin-top: 15px;
}

div.container-fluid footer {
    
    order: 6;
    width:100vw; background-color:rgb(25, 35, 46); padding: 10px; height:120px;
    line-height:100px; color: #96aaec;
    margin-top: 15px;
}

@media screen and (min-width: 1000px) {
    

    div.container-fluid header {
    background-color:rgb(173, 200, 231); padding: 10px; height:120px;
    font-weight: 600; font-size: 200%;
    }

    div.container-fluid img.title1 {
    float: left; margin:10px; width:100px; height:100px;
    margin-left: 200px;
    }

    div.container-fluid div.name {
    background-color:#ddd; padding:20px; text-align: left;
    }

    div.container-fluid nav {
    display: flex;
    font-weight: 600;
    max-width:800px; background-color:#ccc; margin: 0 auto; margin-top:20px; padding:10px;
    justify-content: space-evenly;
    }

    div.container-fluid div.links {
    max-width:800px; margin: 0 auto; padding:10px; background-color: #d3c3ff;
    margin-top: 15px;
    }

    div.container-fluid div.table {
    max-width:800px; margin: 0 auto; padding:10px;
    text-align: center;
    background-color: #d3c3ff;
    margin-top: 15px;
    }

    div.container-fluid table {
    max-width:800px; margin: 0 auto; 
    }

    div.container-fluid tr.light {
    background: #cdd8ff;
    }

    div.container-fluid tr.dark {
    background: #83a0fd;
    }

    div.container-fluid form {
        order: 6;
    max-width:800px; margin: 0 auto; padding:10px;
    background-color: #d3c3ff;
    margin-top: 15px;
    }

    div.container-fluid footer {
    background-color:rgb(25, 35, 46); padding: 10px; height:120px;
    line-height:100px; color: #96aaec;
    margin-top: 15px;
    }

}
